/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #031241c6;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap; /* Impede a quebra de linha */
    margin-bottom: 100px;
}

header .titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .titulo-principal {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

header .subtitulo {
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
    margin-left: 10px;
}

/* Alinhamento e responsividade das redes sociais */
.instaface {
    display: flex;
    justify-content: flex-end; /* Alinha à direita */
    gap: 20px; /* Espaçamento entre os ícones */
}

.instaface a img {
    width: 50px;
}

header img.img1 {
    height: 170px;
    width: 171px;
}

/* Seção de Reservas */
.reservas {
    background-color: #ffffff33;
    padding: 40px;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservas h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.reservas p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #777;
}

.form-reserva {
    display: grid;
    gap: 15px;
    text-align: left;
}

.form-reserva label {
    font-size: 16px;
    color: #ffffff;
}

.form-reserva input, .form-reserva select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-reserva input:focus, .form-reserva select:focus {
    border-color: #3498db;
}

.form-reserva button {
    background-color: #120c6c8f;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-reserva button:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    background-color: #00000090;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.icones {
    margin-left: 60px;
}

.video-background {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Garante que o vídeo fique atrás do conteúdo */
}

/* Define o vídeo para preencher toda a tela */
video {
    object-fit: cover;  /* Faz o vídeo preencher a tela sem distorcer */
    width: 100%;
    height: 100%;
}